body{
  background-color:black;
  font-family: lores-12,sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ff577d;
}
h1{
  font-family: ethnocentric, sans-serif;
  font-weight: 400;
  font-style: normal;
  color:#ff577d;
  text-align:center;
  text-shadow: 0 0 7px #ff2a6d,
  0 0 10px #0a9cf5,
  0 0 21px #ff2a6d,
  0 0 42px #0a9cf5,
  0 0 82px #ff2a6d,
  0 0 92px #0a9cf5;
  margin-bottom: 20px;
}
h2{
  text-align: center;
}

#startGame{
  background-color: #0a9cf5;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: black;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  font-family: ethnocentric, sans-serif;
}
#create, #randomize, #createStart{
  background-color: #0a9cf5;
  display: block;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: 50%;
  color: black;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  font-family: ethnocentric, sans-serif;
}
#accept, #again{
  background-color: #0a9cf5;
  display: inline-block;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  color: black;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  font-family: ethnocentric, sans-serif;
}

#startGame:hover, #startGame:active, #create:active,#create:hover, #randomize:active,#randomize:hover, #accept:active,#accept:hover, #again:active, #again:hover{
  color: #ff2a6d;
  box-shadow: 0 0 7px #ff2a6d,
  0 0 10px #0a9cf5,
  0 0 21px #ff2a6d,
  0 0 42px #0a9cf5,
  0 0 82px #ff2a6d,
  0 0 92px #0a9cf5,
  0 0 102px #ff2a6d,
  0 0 151px #0a9cf5;
  border: 0px;
}
#playerSelectScreen, #createPlayerScreen, #randomizePlayerScreen, #randoStats, #randoCharacterDescription, #characterDescription{
  display: none;
}

#createPlayer, #randomizePlayerScreen, #characterDescription{
  margin: 20px;
  text-align: justify;
  padding: 10px;
  float: left;
}


#characterDescription h2, #randCD h2{
  text-shadow: 0 0 7px #ff2a6d,
  0 0 10px #0a9cf5,
  0 0 21px #ff2a6d,
  0 0 42px #0a9cf5,
  0 0 82px #ff2a6d,
  0 0 92px #0a9cf5;
}
#characterDescription p{
  color:#0a9cf5;
}
#playerForm{
  float:left;
}
#characterDescription{
  text-align: center;
}

#gameBox{
  display: none;
}

#playerBox{
  border: solid black 5px;
  width: 45%;
  margin: auto;
}

#enemyBox{
  border: solid black 5px;
  width: 45%;
  margin: auto;
}
/*
TODO:
style game

Note: color palette
#ff184c, #ff577d, #ffccdc, #0a9cf5, #003062,#ff2a6d, #d1f7ff, #005678, #29132e
*/